* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    width: 100%;
    background-image: linear-gradient(to left, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%), url(fo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.form-container {
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0,0,0, .1);
    height: 500px;
    max-width: 900px;
    transition: all 1s ease;
    margin: 10px;
}

.info-section {
    width: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(60deg, #9ad89c, #98c79c);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.info-content {
    width: 100%;
    padding: 0 30px;
}

.info-content h2 {
    font-size: 2.5rem;
    color: #333;
}

.info-content p {
    margin: 15px 0;
    color: #555;
}

.info-content input {
    background-color: transparent;
    outline: none;
    border: solid 2px #59955C;
    border-radius: 20px;
    padding: 10px 20px;
    color: #59955C;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.info-content input:hover {
    background-color: #59955C;
    border: none;
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0, .1);
}

.form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #f8f8f8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form-content {
    padding: 0 30px;
}

.form-content h2 {
    color: #333;
    font-size: 2rem;
}

.form-content p {
    color: #555;
}

.social-icons {
    margin: 15px 0;
}

.social-icons i {
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: #59955C;
    border: solid thin #59955C;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0, .1);
}

.social-icons i:hover {
    background-color: #59955C;
    color: #fff;
}

.user-form {
    margin: 30px 0 0 0;
}

.user-form label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0, .1);
}

.user-form label input {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}

.user-form label i {
    color: #a7a7a7;
}

.user-form input[type="submit"],
.user-form input[type="button"] {
    background-color: #59955C;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0, .1);
}

.user-form input[type="submit"]:hover,
.user-form input[type="button"]:hover {
    background-color: #59955C;
}

.hide {
    position: absolute;
    transform: translateY(-300%);
}

.info-content h2{
    color: #1e5728;
    font-weight: bold;
}
.form-content h2{
    color: #1e5728;
    font-weight: bold;
}
