    form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 600px;
    }
    
    button {
        color: #555555;
        padding: 0.7em 1.7em;
        font-size: 18px;
        font-family: 'Consolas', 'Courier New', Courier, monospace;
        border-radius: 0.5em;
        background: #e8e8e8;
        cursor: pointer;
        border: 1px solid #e8e8e8;
        transition: all 0.3s;
        box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
      }
      
      button:active {
        color: #666;
        box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
      }
    
      input {
        border: none;
        outline: none;
        padding: 0.7em 1.7em;
        margin: 20px;
        font-size: 18px;
        font-family: 'Consolas', 'Courier New', Courier, monospace;
        border-radius: 15px;
        color: #555555;
        padding: 1em;
        background-color: #ccc;
        box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
        transition: 300ms ease-in-out;
      }
      
      textarea {
        border: none;
        outline: none;
        padding: 0.7em 1.7em;
        margin: 20px;
        font-size: 18px;
        font-family: 'Consolas', 'Courier New', Courier, monospace;
        border-radius: 15px;
        color: #555555;
        padding: 1em;
        background-color: #ccc;
        box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
        transition: 300ms ease-in-out;
      }

      .input:focus {
        background-color: white;
        transform: scale(1.05);
        box-shadow: 13px 13px 100px #969696,
                   -13px -13px 100px #ffffff;
      }
    
      .card {
        width: 500px;
        height: 250px;
        padding: 20px;
        margin: 20px;
        border-radius: 30px;
        background: #e0e0e0;
        box-shadow: 15px 15px 30px #bebebe,
                   -15px -15px 30px #ffffff;
      }
    
      .formradio{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 50px;
        width: 500px;
      }
      h1 {
        font-family: 'Consolas', 'Courier New', Courier, monospace;
        font-size: 36px;
        font-weight: bold;
        font-style: normal;
        color: #555555;
        background-color: null;
        text-align: start;
        text-indent: 0px;
        line-height: 1;
        letter-spacing: 0px;
        word-spacing: 0px;
        text-decoration: null;
        text-transform: null;
        text-shadow: null;
        margin: 0px;
        padding: 10px;
        direction: null;
        unicode-bidi: bidi-override;
        white-space: null;
        word-break: break-all;
        overflow-wrap: break-word;
        hyphens: auto;
    }
    
    h2 {
        font-family: 'Consolas', 'Courier New', Courier, monospace;
        font-size: 25px;
        font-weight: bold;
        font-style: normal;
        color: #555555;
        background-color: null;
        text-align: start;
        text-indent: 0px;
        line-height: 1;
        letter-spacing: 0px;
        word-spacing: 0px;
        text-decoration: null;
        text-transform: null;
        text-shadow: null;
        margin: 0px;
        padding: 10px;
        direction: null;
        unicode-bidi: bidi-override;
        white-space: null;
        word-break: break-all;
        overflow-wrap: break-word;
        hyphens: auto;
    }
    
    h3 {
        font-family: 'Consolas', 'Courier New', Courier, monospace;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        color: #555555;
        background-color: null;
        text-align: start;
        text-indent: 0px;
        line-height: 1;
        letter-spacing: 0px;
        word-spacing: 0px;
        text-decoration: null;
        text-transform: null;
        text-shadow: null;
        margin: 0px;
        padding: 10px;
        direction: null;
        unicode-bidi: bidi-override;
        white-space: null;
        word-break: break-all;
        overflow-wrap: break-word;
        hyphens: auto;
    }
    
    h4 {
        font-family: 'Consolas', 'Courier New', Courier, monospace;
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        color: #555555;
        background-color: null;
        text-align: start;
        text-indent: 0px;
        line-height: 1;
        letter-spacing: 0px;
        word-spacing: 0px;
        text-decoration: null;
        text-transform: null;
        text-shadow: null;
        margin: 0px;
        padding: 10px;
        direction: null;
        unicode-bidi: bidi-override;
        white-space: null;
        word-break: break-all;
        overflow-wrap: break-word;
        hyphens: auto;
    }
    
    p {
        font-family: 'Consolas', 'Courier New', Courier, monospace;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        color: #555555;
        background-color: null;
        text-align: start;
        text-indent: 0px;
        line-height: 1;
        letter-spacing: 0px;
        word-spacing: 0px;
        text-decoration: null;
        text-transform: null;
        text-shadow: null;
        margin: 10px;
        direction: null;
        unicode-bidi: bidi-override;
        white-space: null;
        word-break: break-all;
        overflow-wrap: break-word;
        hyphens: auto;
    }